{% extends 'base.html' %}
{% load staticfiles %}


{% block google_script %}
<script src="http://maps.googleapis.com/maps/api/js"></script>
{% endblock %}


{% block body_block %}

<div id="map-canvas" style="width: 1010px; height: 580px;"></div>

<script type="text/javascript">
var LocationData = [
	{%for company in company_list %}
		[{{company.lat}}, {{company.lon}}, "{{company.company_name}}"],
	{% endfor %}
];
 
function initialize()
{
    var map = new google.maps.Map(document.getElementById('map-canvas'));
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();
     
    for (var i in LocationData)
    {
        var p = LocationData[i];
        var latlng = new google.maps.LatLng(p[0], p[1]);
        bounds.extend(latlng);
         
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: p[2]
        });
     
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(this.title);
            infowindow.open(map, this);
        });
    }
     
    map.fitBounds(bounds);
}
 
google.maps.event.addDomListener(window, 'load', initialize);
</script> 

{% endblock %}